html {
  width: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  width: 100%;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 32px 80px 32px 80px
}

header a h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  color: #1F1F1F;
}

header h5 {
  display: inline;
  flex-direction: row;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  color: #1F1F1F;
  padding: 0px 27px 0px 0px;
  white-space: nowrap;
}

header h5:hover {
  color: red;
}

header img {
  display: inline;
  flex-direction: row;
  padding: 0px 26.67px 0px 0px;
}

.first-section {
  display: grid;
grid-template-columns: 1fr 1fr;
  margin: 120px 80px 180px 80px;
}

.first-section h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  color: #1F1F1F;
  padding: 81px 0px 32px 0px;
}

.first-section p {
font-family: 'Montserrat';
font-weight: 500;
font-size: 24px;
color: #969696;
white-space: nowrap;
line-height: 36px;
}

.button-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  grid-template-areas: "overlap";
}

.first-section img {
  margin-top: 80px;
  grid-area: overlap;
  justify-self: flex-end;
}

.first-section button  {
  border: transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
grid-area: overlap;
}

.second-section h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #1F1F1F;
}

.second-section h2 span {
  color: #969696;
}

.second-section-frames{
  display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 32px;
margin: 80px 80px 180px 80px;
grid-template-areas: "img1 img2"
                      "img1 img3"
                      "img1 img4"
                      "img5 img6";
}

.frame1 {
  grid-area: img1;
 border: 2px solid red;
}

.frame2 {
  grid-area: img2;
  border: 2px solid rgb(0, 0, 0);
}

.frame3 {
  grid-area: img3;
  border: 2px solid rgb(238, 255, 0);
}

.frame4 {
  grid-area: img4;
  border: 2px solid rgb(234, 0, 255);
}

.frame5 {
  grid-area: img5;
  border: 2px solid rgb(0, 255, 136);
}

.frame6 {
  grid-area: img6;
  border: 2px solid rgb(0, 81, 255);
}

.third-section {
  display: grid;
  grid-template-columns: 1fr 1fr;  

}

.third-section-prices {
  background: #F3F3F3;
border-radius: 8px 0px 0px 8px;
margin: 0px 0px 200px 80px;
}

.third-section h1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
color: #1F1F1F;
padding: 41px 0px 88px 56px;
}

.third-section h1 span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #1F1F1F;
  padding: 0px 0px 0px 180px;
}

.third-section h3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1F1F1F;
padding: 41px 0px 8px 56px;
}

.third-section h3 span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1F1F1F;
  padding: 0px 30px 0px 30px;
}

.img {
  padding-left: 290px;
}

.img2 {
  padding-left: 271px;
}

.img3 {
  padding-left: 307px;
}

.third-section p {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #969696;
padding: 0px 0px 0px 56px;
}

.third-section p:last-child {
  margin-bottom: 56px;
}

.third-section_form {
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
  border-radius: 0px 8px 8px 0px;
  margin: 0px 80px 200px 0px;
}

.third-section input {
  background: #FFFFFF;
  border: transparent;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #969696;
}

.form-name1 {
  margin: 41px 56px 32px 0px; 
  padding: 28px 460px 28px 32px;
}

.form-name2 {
  margin: 0px 32px 32px 0px; 
  padding: 28px 32px 28px 32px;
}

.form-name3 {
  margin: 0px 56px 32px 0px; 
  padding: 28px 35px 28px 32px;
}

.form-name4 {
  margin: 0px 56px 40px 0px; 
  padding: 28px 460px 28px 32px;
}

.form-button {
  background: #D2D2D2;
    border: transparent;
border-radius: 8px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
padding: 28px 0px 28px 0px;
margin-right: 56px;
}

footer {
background: #F3F3F3;
display: flex;
justify-content: center;
gap: 8px;
width: 100%;
padding-top:24px;
padding-bottom:24px;

}