html {
  width: 100%;
}

body {
  background-color: #FFFFFF;
  font-family: 'Montserrat';
  font-style: normal;
  width: 100%;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin: 32px 83.33px 32px 54px
}

header a h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  color: #1F1F1F;
}

header h5 {
  display: inline;
  flex-direction: row;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  color: #1F1F1F;
  padding: 0px 27px 0px 0px;
  white-space: nowrap;
}

header h5:last-child {
  color: red;
}

header img {
  display: inline;
  flex-direction: row;
  padding: 0px 26.67px 0px 0px;
}

header div a img:first-child {
  padding-left: 50px;
  }

.first-section {
  display: grid;
  gap: 278px;
grid-template-columns: 1fr 1fr;
  margin: 120px 0px 180px 80px;
}

.first-section h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 120px;
  line-height: 120px;
  color: #1F1F1F;
  padding: 81px 0px 32px 0px;
}

.first-section p {
font-family: 'Montserrat';
font-weight: 500;
font-size: 24px;
color: #969696;
white-space: nowrap;
line-height: 36px;
}

.first-section button  {
  border: transparent;
  outline: transparent;
  background-color: transparent;
  cursor: pointer;
position: relative;
top: 30px;
right: 100px;
}

.first-section img {
  margin-top: 80px;
}

.second-section h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #1F1F1F;
}

.second-section h2 span {
  color: #969696;
}

.second-section-frames{
    display: grid;
  grid-template-columns: 1fr 1fr;  
}

.frame1 {
  background-image: url("../images/ImagineDragons.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 80px 32px 0px 80px;
}

.frame1 img {
padding: 40px 700px 294px 40px;
}

.frame1 p {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  padding: 0px 0px 16px 40px;
  }

.frame1 h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
color: #FFFFFF;
padding: 16px 0px 60px 40px;
}

.frames2 {
  margin: 80px 80px 0px 0px;
}

.frame2-1 {
  background-image: url("../images/Rectangle\ 181.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.frame2-2 {
  background-image: url("../images/Rectangle\ 182.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.frame2-3 {
  background-image: url("../images/Rectangle\ 183.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.frames2 h4 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: white;
  padding: 24px 24px 54px 24px;
}


.frames2 h4 span {
  padding: 0px 0px 0px 500px;
}

.frames2 p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: white;
  padding: 54px 0px 50px 24px;
margin-bottom: 32px;
}

.frame3 {
  background-image: url("../images/Rectangle\ 212.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32px 32px 180px 80px;
}

.frame3 img {
  padding: 40px 579px 200px 40px;
}

.frame3 p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 0px 0px 16px 40px;
  }

  .frame3 h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
  color: #FFFFFF;
  padding: 16px 0px 60px 40px;
  }

.frame4 {
  background-image: url("../images/Rectangle\ 211.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32px 80px 180px 0px;

}

.frame4 img {
  padding: 40px 579px 200px 40px;
}

.frame4 p {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    padding: 0px 0px 16px 40px;
  }

  .frame4 h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
  color: #FFFFFF;
  padding: 16px 0px 60px 40px;
  }

.third-section {
  display: grid;
  grid-template-columns: 1fr 1fr;  

}

.third-section-prices {
  background: #F3F3F3;
border-radius: 8px 0px 0px 8px;
margin: 0px 0px 200px 80px;
}

.third-section h1 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
color: #1F1F1F;
padding: 41px 0px 88px 56px;
}

.third-section h1 span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #1F1F1F;
  padding: 0px 0px 0px 180px;
}

.third-section h3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1F1F1F;
padding: 41px 0px 8px 56px;
}

.third-section h3 span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1F1F1F;
  padding: 0px 30px 0px 30px;
}

.img {
  padding-left: 290px;
}

.img2 {
  padding-left: 271px;
}

.img3 {
  padding-left: 307px;
}

.third-section p {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
color: #969696;
padding: 0px 0px 0px 56px;
}

.third-section p:last-child {
  margin-bottom: 56px;
}

.third-section_form {
  display: flex;
  flex-direction: column;
  background: #F3F3F3;
  border-radius: 0px 8px 8px 0px;
  margin: 0px 80px 200px 0px;
}

.third-section input {
  background: #FFFFFF;
  border: transparent;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #969696;
}

.form-name1 {
  margin: 41px 56px 32px 0px; 
  padding: 28px 460px 28px 32px;
}

.form-name2 {
  margin: 0px 32px 32px 0px; 
  padding: 28px 32px 28px 32px;
}

.form-name3 {
  margin: 0px 56px 32px 0px; 
  padding: 28px 35px 28px 32px;
}

.form-name4 {
  margin: 0px 56px 40px 0px; 
  padding: 28px 460px 28px 32px;
}

.form-button {
  background: #D2D2D2;
    border: transparent;
border-radius: 8px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
padding: 28px 0px 28px 0px;
margin-right: 56px;
}

footer {
background: #F3F3F3;
display: flex;
justify-content: center;
gap: 8px;
width: 100%;
padding-top:24px;
padding-bottom:24px;

}